<ul>
  <!-- created this list so that each time the ngFor ran it would create a new list item -->
  <li *ngFor="let favorite of this.favorites, index as i">
  <!-- ngFor is saying for each one in the favorites list call it favorite -->
    <p>{{ favorite.recipe.label }}</p>
    <img src="{{ favorite.recipe.image }}">
    <a href="{{ favorite.recipe.url }}">Recipe</a>
    <button (click)="removeFavorite(i)"><i class="far fa-trash-alt"></i></button>
  <!-- in the curly braces this is what is showing in browser based on API terms that can be found when inspecting the element --> 
  </li>
</ul>

<!-- <button (click)= "removeFavorite(result)">Remove</button> -->


